$area-100: 100%;

mat-form-field , textarea {
  width: $area-100;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
  img {
    height: $area-100;
  }
}
