:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-image {
  width: 100%;
  img {
    width: 50%;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
  }
}
